@import "./Mixin";

.rotateSpace {
  animation: rotateSpace 15s ease-in-out infinite;
}

.slowerAnimation {
  animation-duration: 15s !important;
}

.rotateSpace:hover {
  scale: 0.95;
}

.upDown {
  animation: upDown 4s ease-in-out infinite;
  @include Move(0, 1vh, Y, upDown);
}
.downUp {
  animation: downUp 4s ease-in-out infinite;
  @include Move(1vh, 0, Y, downUp);
}

.decrease {
  scale: (0.9);
  box-shadow: 0 0 1rem rgba(4, 184, 4, 0.568);
}

@keyframes rotateSpace {
  0% {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(-5deg);
  }
  50% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(-5deg);
  }
}

.rotate {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.up {
  transform: translateY(-15vh) scale(1) !important;
  filter: blur(0) !important;
}

.forwardsDrive {
  animation: forwardsDrive 80s ease-in-out infinite;
  @include Move(-200vh, 200vh, Y, forwardsDrive);
}
.backwardsDrive {
  animation: backwardsDrive 80s ease-in-out infinite;
  @include Move(200vh, -200vh, Y, backwardsDrive);
}

.rotateText {
  transform: rotateX(60deg);
}

.slow {
  animation-duration: 10s;
}
.slower {
  animation-duration: 25s !important;
}

@keyframes fly {
  0% {
    translate: 0;
  }
  50% {
    translate: 0 -1.5vh;
  }
  100% {
    translate: 0;
  }
}
.fly {
  animation: fly 3s ease-in-out infinite;
}
