@import "./Mixin";

.cardSquare {
  width: 100vw;
  height: 100%;
  z-index: -1;
  position: absolute;
  box-shadow: 0 0 1rem black;
  animation-duration: 4s !important;
  background: linear-gradient(var(--bg-sky-500-10), var(--bg-orange-500-10));
}

.tvBox {
  transform-style: preserve-3d;
}

.tvBox::before,
.tvBox::after {
  content: "";
  width: 40vw;
  height: 70vh;
  overflow: hidden;
  filter: blur(1rem) drop-shadow(0 0 6rem cyan);
  position: absolute;
  z-index: -50;
  border-radius: 500px;
  display: inherit;
  transform-origin: center;
  background: transparent;
}

.tvBox::before {
  animation: rightCircle 25s linear infinite;
  @include Circle(33deg, rightCircle);
}

.tvBox::after {
  animation: leftCircle 25s linear infinite;
  @include Circle(-33deg, leftCircle);
}
